/* to-do-header.component.css */
.tasks-buttons {
  margin-bottom: 20px;
}

.tasks-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.tasks-buttons button:hover {
  background-color: #0056b3;
}

div {
  margin-bottom: 15px;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td button {
  background-color: #3498ff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

